footer{
    padding: var(--page-padding);
    background-color:#213555;
    display: flex;
    justify-content: center;
}

footer ul {
    list-style-type: none;
}

footer div h1{
    position: relative;
    z-index: 1;
    width: 50vw;
}

footer div h1::after{
    content: "Contact";
    font-size: 7rem;
    z-index: -5;
    position: absolute;
    top: -120%;
    left: 1%;
    color: rgba(99, 99, 99, 0.25);
}

footer a{
    color: white;
}

footer table{
    z-index: 10;
}

footer a:hover{
    color: blue;
}

@media (max-width:768px) and (min-width:426px){
    footer div h1::after{
        content: "Contact";
        font-size: 7rem;
        z-index: -5;
        position: absolute;
        top: -20%;
        left: 1%;
        color: rgba(99, 99, 99, 0.25);
    }
}

@media (max-width:500px) and (min-width:400px){
    footer div h1::after{
        content: "Contact";
        font-size: 7rem;
        z-index: -5;
        position: absolute;
        top: -20%;
        left: -10%;
        color: rgba(99, 99, 99, 0.25);
    }
}

@media (max-width:426px)  and (min-width:250px)  {
    footer {
        padding: var(--phone-padding);
    }

    footer div h1{
        font-size: 2.1rem;
        white-space: pre;
    }

    footer div h1::after {
        font-size: 4rem;
        top: -80%;
        left: -10%;
    }
}