#skills{
    padding: var(--page-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#skills > h1{
    position: relative;
    z-index: 1;
    width: 50vw;
}

#skills > h1::after{
    content: "Skills";
    font-size: 100px;
    z-index: -1;
    position: absolute;
    top: 10%;
    left: 1%;
    color: rgba(128, 128, 128, 0.25);
}

#skills > article{
    width: 50vw;
    display: flex;
    gap: 1rem;
}

#skills > article div{
    width: 24vw;
}

#skills ul{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
} 

#skills li{
    list-style: none;
    border: 1px solid black;
    padding: 1rem;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    background-color: #213547;
}


@media (max-width:426px) {
    #skills {
        padding: var(--phone-padding);
    }

    #skills ul{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    } 

    #skills > article{
        flex-direction: column;
    }

    #skills>h1::after {
        font-size: 5rem;
        top: 20%;
        left: -10%;
    }
}